
table {
	/* border-collapse: collapse; */
	text-align: center;
	width: 100%;
	border: 1px solid #000000;
}
th, td {
	text-align: center;
	border: 1px solid #000000;
}
tr {
	text-align: center;
}
th{
	background-color: #4759e5;
}